<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497642312492-rc0a4gaqo3rfmi9pqna2jgde7v3cu4ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497642312492-rc0a4gaqo3rfmi9pqna2jgde7v3cu4ce</string>
	<key>API_KEY</key>
	<string>AIzaSyB6vEEBHmHul3pC4C5nlxtEwCm8vXjlYbw</string>
	<key>GCM_SENDER_ID</key>
	<string>497642312492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackoverflowlite.app</string>
	<key>PROJECT_ID</key>
	<string>genopets-5a359</string>
	<key>STORAGE_BUCKET</key>
	<string>genopets-5a359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497642312492:ios:f9cb6b41a9fdc35fe01289</string>
</dict>
</plist>